<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Elmir's App</title>
    <style>
        body {
            background-image: url('https://wallpaperboat.com/wp-content/uploads/2020/12/14/63700/literary-01.jpg');
            background-size: cover;
            background-position: center;
            color: #fff;
            font-family: 'Helvetica Neue', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .dashboard-container {
            background: rgba(0, 0, 0, 0.7);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            text-align: center;
        }

        h1 {
            margin-bottom: 20px;
        }

        .user-details {
            font-size: 18px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="dashboard-container">
        <div class="dashboard-container">

            <% if (user) { %>
                <h1>Welcome <%= user.name %> <%= user.surname %></h1>
                <div class="user-details">
                    Your user: <%= user.username %>
                </div>
            <% } else { %>
                <p>Please log in to access the dashboard.</p>
            <% } %>
    
        </div>
    </div>
</body>
</html>
