<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('https://wallpaperboat.com/wp-content/uploads/2020/12/14/63700/literary-01.jpg');
            background-size: cover;
            background-position: center;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            font-family: 'Helvetica Neue', sans-serif;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle text shadow */
        }

        .display-text {
            font-size: 3em;
            margin-bottom: 20px;
            color: #3498db; /* Soft Blue color */
        }

        .btn-lg {
            padding: 15px 30px;
            font-size: 1.5em;
        }

        p {
            font-size: 1.2em;
            color: #ecf0f1; /* Light Gray color for paragraphs */
        }
    </style>
    <title>Elmir's App</title>
</head>
<body>
    <h1 class="display-text">WELCOME</h1>

    <p>Are you new here?</p>
    <a href="/signup" class="btn btn-secondary btn-lg">REGISTER</a>
    <br><br>

    <p>Do you have an account?</p>
    <a href="/login" class="btn btn-primary btn-lg mr-3">LOG IN</a>
</body>
</html>
